/** @format */

.wrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	max-width: 980px;
	margin: auto;
}

.container button {
	width: 100%;
	text-align: left;
	padding: 18px;
	color: #444;
	border: none;
	outline: none;
    background-color: #eee;
    transform:  0.4s;
}


.text-container{
	padding: 0 18px;
	background-color: rgb(254, 254, 254);
	/* max-height: 0; */
	transition: 0.2s ease-out;
    display: none;
}

.active , .container-button:hover{
    background-color: #f68f8f;
}
